.footer-bg {
  position: fixed;
  width: 100%;
  bottom: 0;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  background: rgb(25, 162, 173);
  background: linear-gradient(
    104deg,
    rgb(0, 185, 206) 0%,
    rgb(33, 126, 207) 100%
  );
}

.footer-text {
  align-items: center;
  color: white;
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  justify-content: center;
  margin: 0px;
  padding: 5px;
}
