.sidebar-hide {
  display: none;
}

.sidebar {
  animation: bar 0.2s ease-in;
  background-color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  min-width: 150px;
  padding: 0 2px;
  transition: all 0.3s ease;
  width: 100%;
}

.side-link {
  align-items: center;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  padding: 2px;
  transition: color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.side-link:hover {
  box-shadow: inset 750px 0 0 0 rgb(25, 162, 173);
  background: rgb(25, 162, 173);
  background: linear-gradient(
    104deg,
    rgb(231, 230, 230) 100%,
    rgb(0, 185, 206) 0%
  );

  color: rgb(255, 255, 255);
}

.side-addicon {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
}

.sidebar-text {
  padding: 5px;
  white-space: nowrap;
}

.main-content {
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(237, 237, 237, 1) 100%
  );
  background: rgb(250, 250, 250);
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
  top: 40px;
}

.main-content-goal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 10px 0;
  width: 100%;
}

@keyframes bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar,
  .sidebar-hide {
    position: fixed;
    z-index: 0;
    align-items: left;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    height: 100%;
    justify-content: left;
    width: 150px;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .side-link {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 700;
    justify-content: left;
    padding: 10px;
  }

  .side-icon {
    font-size: 20px;
  }

  .main-content {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;

  }

  .main-content-goal {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-left: 150px;
    padding-bottom: 70px;
    overflow: hidden;
    overflow-y: auto;
  }

  .side-link:hover {
    box-shadow: inset 200px 0 0 0 rgb(25, 162, 173);
    background: rgb(25, 162, 173);
    background: linear-gradient(
      104deg,
      rgb(231, 230, 230) 100%,
      rgb(0, 185, 206) 0%
    );

    color: rgb(255, 255, 255);
  }

  .side-link:active {
    box-shadow: inset 200px 0 0 0 rgb(25, 162, 173);
    background: rgb(25, 162, 173);
    background: linear-gradient(
      104deg,
      rgb(231, 230, 230) 100%,
      rgb(0, 185, 206) 0%
    );

    color: rgb(255, 255, 255);
  }
}
