.mainbox {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainboxForgot {
  display: flex;
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.formcardAuth {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  height: 170px;
  width: 280px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.formcardForgot {
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  height: fit-content;
  width: 100%;
  padding: 25px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  border-radius: 15px;
  background: rgb(25, 162, 173);
  background: linear-gradient(104deg, #00b9ce 0%, rgb(33, 126, 207) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.cardsignup {
  border-radius: 15px;
  background: rgb(25, 162, 173);
  background: linear-gradient(104deg, #00c0ce 0%, rgb(33, 201, 207) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.cardForgot {
  border-radius: 15px;
  background: rgb(25, 162, 173);
  background: linear-gradient(104deg, #00b9ce 0%, rgb(33, 126, 207) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: fit-content;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.h1 {
  margin: 10px 15px;
  color: white;
  font-size: 14px;
}

.titletext {
  font-size: 14px;
  margin: 10px;
  font-weight: 400;
}
.remember {
  display: flex;
  justify-self: start;
  width: 270px;
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
}

.checkbox {
  border: 1px solid #00b9ce;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  font-size: 15px;
}

.button {
  cursor: pointer;
  display: flex;
  background-color: rgb(232, 231, 231);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-size: 12px;
  font-weight: 700;
  width: 75px;
  min-width: 35px;
  height: 15px;
  margin: 10px;
  padding: 5px 15px 20px 15px;
  transition: all 0.1s ease-in-out forwards;
  align-content: center;
  justify-content: center;
}

.buttonLink {
  cursor: pointer;
  border: none;
  color: white;
  display: flex;
  background-color: #00b9cee3;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-size: 12px;
  font-weight: 700;
  width: 120px;
  min-width: 120px;
  height: 10px;
  margin: 20px;
  padding: 20px;
  transition: all 0.1s ease-in-out forwards;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttonForgot {
  cursor: pointer;
  border: none;
  color: white;
  display: flex;
  background-color: #00b9cee3;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-size: 12px;
  font-weight: 700;
  width: 150px;
  min-width: 120px;
  height: 10px;
  margin: 10px;
  padding: 20px;
  transition: all 0.1s ease-in-out forwards;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttonForgot:hover {
  transform: scale(0.99);
  box-shadow: rgba(0, 0, 0, 0.357) 0px 2px 4px 0px inset;
}

.buttonForgot:active {
  background-color: #01a6b8;
}

.buttonLink:hover {
  transform: scale(0.99);
  box-shadow: rgba(0, 0, 0, 0.357) 0px 2px 4px 0px inset;
}

.buttonLink:active {
  background-color: #01a6b8;
}

.button:hover {
  transform: scale(0.99);
  box-shadow: rgba(0, 0, 0, 0.357) 0px 2px 4px 0px inset;
}

.button:active {
  background-color: white;
}

.labelAuth {
  font-weight: 600;
  width: 87%;
}

.labelForgot {
  font-weight: 600;
  width: 100%;
  margin: 5px;
}

.message {
  font-size: 16px;
  font-weight: 600;
  color: rgb(233, 241, 14);
}

.inputAuth {
  height: 25px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: 2px solid rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: rgb(241, 241, 241);
}

.inputReset {
  height: 25px;
  box-sizing: border-box;
  margin-top: 8px;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: 2px solid rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: rgb(241, 241, 241);
}

.inputAuth:focus {
  background-color: rgb(230, 229, 229);
  border: none;
  outline: 1px solid rgb(0, 185, 206);
}

.forgotpass {
  font-size: 15px;
  color: white;
  padding: 0 0 10px 15px;
  cursor: pointer;
  text-decoration: underline;
}

.forgotpass:hover {
  color: black;
  font-weight: 700;
}

.linktext {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.linktext:hover {
  color: #00b9ce;
}

.boxAuthPass {
  height: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding: 0 5px;
  border: none;
  outline: 2px solid rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: rgb(241, 241, 241);
}

.boxAuthPass:has(input:focus) {
  background-color: rgb(230, 229, 229);
  border: none;
  outline: 1px solid rgb(0, 185, 206);
}

.inputAuthPass {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgb(241, 241, 241);
}

.inputAuthPass:focus {
  background-color: rgb(230, 229, 229);
}

.eyeIcon {
  width: fit-content;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.closeIcon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.header {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userValidation,
.passValidation {
  margin: 5px 0;
  font-size: 10px;
  color: rgb(199, 0, 0);
  position: fixed;
}

@media only screen and (min-width: 768px) {
  .formcard {
    height: 150px;
    width: 400px;
    padding: 15px 10px;
  }

  .button {
    display: flex;
    width: 80px;
    min-width: 50px;
    height: 3px;
    margin: 15px;
    text-align: center;
    align-items: center;
    padding: 15px 10px 15px 10px;
  }

  .buttonLink {
    font-size: 14px;
    width: 140px;
    min-width: 140px;
    height: 10px;
    margin-top: 40px;
    text-align: center;
  }

  .label {
    width: 85%;
    margin: 12px;
  }

  .mainbox {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: -100px;
  }

  .formcardAuth {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 190px;
    width: 400px;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  .checkbox {
    border-radius: 3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    font-size: 17px;
  }

  .remember {
    width: 370px;
  }

  .formcardForgot {
    width: 100%;
  }

  .mainboxForgot {
    width: calc(100% - 150px);
  }
  .cardForgot {
    width: 50%;
  }
}
